@import url(https://fonts.googleapis.com/css?family=Chewy|Poppins|Istok+Web|Press+Start+2P);

body {
  padding-top: 50px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.no-bullets li{
	list-style-type: none;
}

.padbutt {
	padding-bottom: 30px;
}

.navbar-brand {
	font-family: 'Press Start 2P', cursive;
}

li {
	font-family: 'Istok Web', sans-serif;
}