{% extends 'fileTransfer/base2.html' %}

{% block content %}

    <h2 class="form-signin-heading">Log in</h2>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form id="login_form" method="post" action="/fileTransfer/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="20" />
            <br />
            Password: <input type="password" name="password" value="" size="20" />
            <br />
            <input class="btn btn-lg btn-success btn-block" type="submit" value="submit" />
        </form>


{% endblock %}