{% extends 'fileTransfer/base2.html' %}

{% block content %}

      <h2>Create Account</h2>

      {% if registered %}
        <p><strong>Thank you for registering!</strong><p>
        <a href="{% url 'main' %}" class="btn btn-lg btn-primary btn-block">Return to the homepage.</a>
        {% else %}
        <p><strong>Register here!</strong></p>

        <form id="user_form" method="post" action="/fileTransfer/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-lg btn-success btn-block" type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock %}