{% extends 'fileTransfer/base.html' %}

{% block content %}
  <div class="container">

      <div class="starter-template">
        <h1>Send a file</h1>
        <p class="lead">send a file here. you need a destination address and port and file to send</p>
		
	<form>
		Remote IP:<br>
		<input type="text" name="remote_ip"><br>
		Remote Port:<br>
		<input type="text" name="remote_port">
		Filename:<br>
		<input type="text" name="filename">
	</form>

		


      </div>
    </div><!-- /.container -->
{% endblock %}
