{% extends 'fileTransfer/base.html' %}

{% block content %}
  <div class="container">

      <div class="starter-template">
        <h1>File Transfer Application</h1>
        <p class="lead">Welcome to the application, where it should do stuff apparently.
          Work in Progress~</p>

         <p class="lead">
         {% if documents %}
             <ul>
                 {% for document in documents %}
                     <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                 {% endfor %}
             </ul>
         {% else %}
             <p>No documents.</p>
         {% endif %}
 
         <!-- Upload form. Note enctype attribute! -->
         <form action="{% url "transfer" %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <p>{{ form.non_field_errors }}</p>
             <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
             <p>
                 {{ form.docfile.errors }}
                 {{ form.docfile }}
             </p>
             <p><input type="submit" value="Upload"/></p>
         </form>
         </p>

         <form action="{% url "transfer" %}" method="send" enctype="multipart/form-data">
             <p><input type="submit" value="Send"/></p>
         </form>
         </p>

         <form action="{% url "transfer" %}" method="receive" enctype="multipart/form-data">
             <p><input type="submit" value="Receive"/></p>
         </form>
         </p>

      </div>
    </div><!-- /.container -->
{% endblock %}




