{% extends 'fileTransfer/base.html' %}

{% block content %}
  <div class="container">

      <div class="starter-template">
        <h1>File Transfer</h1>
        <div class="padbutt">
            <p class="lead">
                {% if documents %}
                <h4>List of Public Key Files</h2>
                    <ul class="no-bullets">
                    {% for document in documents %}
                        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                <p>No documents.</p>
                {% endif %}
            </p>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                {% if user.is_authenticated %}
                <!-- Upload form. Note enctype attribute! -->
                <form class="padbutt" action="{% url "transfer" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                    <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    </p>
                    <input class="btn btn-primary btn-lg" type="submit" value="Upload"/>
                </form>
                {% else %}
                <h4> Please log in to transfer files </h4>

                {% endif %} 
            </div>
        </div>

      </div>
    </div><!-- /.container -->
{% endblock %}




