{% extends 'fileTransfer/base.html' %}

{% block content %}
  <div class="container">

      <div class="starter-template">
        <h3>Your password is invalid!</h3>
        <p class="lead">Your password must have: 
        <!-- <ul class="no-bullets"> -->
          <p>At least 8 characters,</p>
          <p>At least 1 number,</p>
          <p>At least 1 special character,</p>
          <p>Not be a common password</p>
        <!-- </ul> -->
        </p>
        <a class="btn btn-lg btn-success btn-lg" href="{% url 'register' %}">Go Back</a>
      </div>
    </div><!-- /.container -->
{% endblock %}
