{% extends 'fileTransfer/base.html' %}

{% block content %}
  <div class="container">

      <div class="starter-template">
        <h1>Your password is invalid!</h1>
        <h2>Please press the back button to try again.</h2>
        <p class="lead">Your password must have: </p>
	<p class="lead">At least 8 characters </p>
	<p class="lead">At least 1 number </p>
	<p class="lead">At least 1 special character </p>
	<p class="lead">Not be a common password </p>
      </div>
    </div><!-- /.container -->
{% endblock %}
